@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

input:focus,
div:focus,
textarea:focus,
button:focus {
  outline: none;
}
